.container-fluid{
    background-image:url(../img/footer_lodyas.png);
    width :100%;

}
hr.linecon{
    color: white!important;
    text-align: center;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 100px;
}
p.content-desc{
    font-size: 20px!important;
}

p.project-desc{
    font-size: 20px!important;
}

.btn-primary{
    background-color: #39A6A3;
    margin-bottom: -120px;
}

.card-title{
    color: white;
    font-family: Sora;
}

.col-sm-6{
    border-color: none!important;
}
.card-body{
    background-color: #151515;
    height: 320px;
}

.card-text{
    font-size: 20px!important;
}

p.contact-desc{
    font-size: 20px!important;
}

.fab{
    margin :30px;
}

.navbar-brand{
    font-family:Sora ;
    font-size: 32px;
}

.navbar-nav{
    font-family: Sora;
    margin-left: auto;
}

.navbar{
    z-index: 2;
}

.profile-photo{
    margin-top: 70px;
    height: 320px;
    border-radius: 10px;
}

.skill1{
    text-align: left;
    font-size: 20px!important;
}

.progress-bar{
    background-color: #39A6A3;
}

.jumbotron{
    background-image: url(../img/slider2.jpg);
    height: 640px;
    width : 100%;
    background-size: cover;
    text-align: center;
    position: absolute;
}
 
.jumbotron .display-4{
    margin-top: 250px;
    color :whitesmoke;
    font-family: Sora;
   }

.jumbotron p {
    font-size: 30px;
    color: whitesmoke;
    font-family: Sora;
}

.profile-title{
    font-weight: bold;
}
.profile-desc{
    font-size: 23px!important;
    text-align: justify;
}

.profile-desc2{
    font-size: 23px!important;
    text-align: left;
}

.org{
    font-size: 23px!important;
    text-align: left;
}

.ul-org{
    font-family: Sora;
    font-size: 23px;
    color: white;
    text-align: left;
}

@media (min-width: 992px){
    .jumbotron{
        margin-top: -100px;
    }
    .nav-link{
        color: white!important;
    }
    .navbar-brand{
        color: white!important;
    }

    .profile-photo{
        margin-left: -200px;
    }

    .profile-title{
        margin-left: -300px!important;
        font-weight: bold;
    }
    .profile-desc{
        margin-left: -300px!important;
        text-align: justify;
        font-size: 23px!important;
    }
    
    .profile-desc2{
        text-align: justify;
        margin-left: 100px;
        font-size: 23px!important;
    }

    .skill1{
        text-align: left;
        margin-left: 100px;
        font-size: 20px!important;
    }

    .progress{
        margin-left: 100px;
        margin-right: 100px;
        height: 20px;
    }

    
    .org{
        margin-left: 100px;
    }

    .ul-org{
        margin-left: 100px;
    }

}